{% extends 'base.html' %}

{% block content %}

<div class="page-header">

    <div>
        <h2>Cadastrar Revendedor</h2>
        <p>Informe os dados do revendedor.</p>
    </div>

</div>

<div class="form-card">

    <form method="POST">

        {% csrf_token %}

        {{ form.as_p }}

        <div class="produto-acoes">

            <button type="submit" class="btn-salvar-produto">
                Salvar Alterações
            </button>

            <a href="{% url 'listar_revendedores' %}" class="btn-cancelar-produto">
                Cancelar
            </a>

        </div>

    </form>

</div>

{% endblock %}